.navBar{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  width: 100%;
  background-color: aquamarine;
  font-size: 20px;
  padding: 1px;
}

.navBar h2{
  color: rgb(138, 43, 226);
}